<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-success">View Contact</p>
            <p class="fst-italic">Adding a new contact is quick and easy. Simply fill in the required fields with the contact's name, email address, and phone number. You can also provide additional information such as their job title or company for better organization. Once you've entered the details, hit the 'Save' button, and the contact will be securely stored in your database. Feel free to come back and update their information anytime. Managing your contacts has never been more convenient!</p>
        </div>
    </div>
</div>

<!-- Contact Details -->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="../../../assets/images/user-1.jpg" alt="user-1" class="contact-image-big">
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item">Name: <span class="fw-bold">Name</span></li>
                <li class="list-group-item">Email: <span class="fw-bold">Email</span></li>
                <li class="list-group-item">Mobile: <span class="fw-bold">Mobile</span></li>
            </ul>
        </div>
    </div>
</div>