<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-success fw-bold"> NG Contacts
                <a routerLink="/contacts/add" class="btn btn-success btn-sm">New</a>
            </p>
            <p class="fst-italic">
                Employee management apps are invaluable tools for businesses seeking to streamline their workforce operations. These applications provide a centralized platform where employers can efficiently handle various aspects of employee management, including attendance tracking, payroll processing, performance evaluations, and communication. With user-friendly interfaces, these apps empower both managers and employees by simplifying administrative tasks and facilitating seamless communication. Moreover, they often offer data analytics and reporting features that enable organizations to make data-driven decisions to enhance their workforce's productivity and engagement. In today's dynamic work environment, employee management apps serve as essential assets for modern businesses aiming to foster a more organized, efficient, and employee-friendly workplace.
            </p>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col">
                               <input class="form-control" placeholder="Search User" type="text">
                            </div>
                            <div class="col">
                                <input class="btn btn-outline-dark" value="Search" type="submit">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Cards -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-success-subtle">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                           <img src="../../../assets/images/user-1.jpg" alt="user-1" class="contact-image">
                        </div>
                        <div class="col-sm-7">
                            <ul class="list-group">
                                <li class="list-group-item">Name: <span class="fw-bold">Name</span></li>
                                <li class="list-group-item">Email: <span class="fw-bold">Email</span></li>
                                <li class="list-group-item">Mobile: <span class="fw-bold">Mobile</span></li>
                            </ul>
                        </div>
                        <div class="col-sm-1 d-flex flex-column justify-content-center align-items-center">
                            <a routerLink="/contacts/view/:contactId" class="btn btn-success my-1"><i class="fa fa-eye"></i></a>
                            <a routerLink="/contacts/edit/:contactId" class="btn btn-primary my-1"><i class="fa fa-pen"></i></a>
                            <button class="btn btn-danger"><i class="fa fa-trash-alt my-1"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>