<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-success">Add Contact</p>
            <p class="fst-italic">Adding a new contact is quick and easy. Simply fill in the required fields with the contact's name, email address, and phone number. You can also provide additional information such as their job title or company for better organization. Once you've entered the details, hit the 'Save' button, and the contact will be securely stored in your database. Feel free to come back and update their information anytime. Managing your contacts has never been more convenient!</p>
        </div>
    </div>
</div>


<!-- Contact Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
           <form>
            <div class="mb-2">
                <input [(ngModel)]="contact.name" name="name" class="form-control" placeholder="Name" type="text" required="true">
            </div>
            <div class="mb-2">
                <input [(ngModel)]="contact.photo" name="photo" class="form-control" placeholder="Photo Url" type="text" required="true">
            </div>
            <div class="mb-2">
                <input  [(ngModel)]="contact.email" name="email" class="form-control" placeholder="Email" type="email" required="true">
            </div>
            <div class="mb-2">
                <input  [(ngModel)]="contact.mobile" name="mobile" class="form-control" placeholder="Mobile" type="number" required="true">
            </div>
            <div class="mb-2">
                <input  [(ngModel)]="contact.company" name="company"  class="form-control" placeholder="Company" type="text" required="true">
            </div>
            <div class="mb-2">
                <input  [(ngModel)]="contact.title" name="title" class="form-control" placeholder="Title" type="text" required="true">
            </div>
            <div class="mb-2">
              <select  [(ngModel)]="contact.groupId" name="groupId"  class="form-control" *ngIf="groups.length > 0" required="true"> 
                 <option value="">Select a Group</option>
                 <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
              </select>           
            </div>
            <div class="mb-2">
                <input class="btn btn-success" value="Create" type="submit">
                <a routerLink="/" class="btn btn-dark ms-2">Close</a>
            </div>
           </form>
        </div>
        <div class="col-sm-4">
            <img src="../../../assets/images/user-1.jpg" alt="user-1" class="contact-image">
        </div>
    </div>
</div>

<pre>{{contact | json }}</pre>
